body{
	color: #666;
	font-family: Helvetica, Arial, sans-serif;
	width: 100%;
	background: #ccc;
}

h1{
	font-weight: bold;
}

h2{
	font-weight: bold;
}
#main{
	margin: 0 auto;
	background: #fff;
	padding: 20px 0px 20px 20px;
	width: 960px;
}

a{
	color: #666;
	font-weight: bold;
	text-decoration: none;
}
a:hover{
	color: #ccc;
}

.image_p{
	text-align: center;
	margin: 20px 0;
}
